{% extends "apply/base.html" %}
{% block body_block %}<div class="container">
  <div class="jumbotron">
    <h1>PART A</h1>
    {% if user.is_authenticated %}
        
        {% if message %}
        <p>{{ message }}</p>
        {% else %}
        <form method="POST">
          <h2>School Information</h2>
            {% csrf_token %}
            {{ form.as_p }}
            {{ profile_form.as_p }}
            <br><br><br><br>
            <input type="submit" name="" value="next">
          </form>
        {% endif %}
    {% else %}
        <h2>Register or Login if you'd like to</h2>
    {% endif %}
  </div>
</div>{% endblock %}

