{% extends "apply/base.html" %}
{% block body_block %}<div class="container">
  <div class="jumbotron">
    <h1>Scholarship application !</h1>
   
    {% if user.is_authenticated %}
        <h2>Hello {{ user.username }}</h2>
        {% if message %}
        <p>{{ message }}</p>
        {% else %}
        <form method="POST">
          <h2>Fill  bio data information</h2>
            {% csrf_token %}
            {{ form.as_p }}
            {{ profile_form.as_p }}
            <br><br><br><br>
            <input type="submit" name="" value="Next">
          </form>
        {% endif %}
    {% else %}
        <h2>Register or Login if you'd like to</h2>
    {% endif %}
  </div>
</div>{% endblock %}

